.navbar_wallpaper{
    display: flex;
    flex-direction: column;
}

.navbar_wallpaper h1{
    margin: 50px auto 0px auto;
    color: rgb(53, 5, 87);
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
}

.product_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 20px auto 0 auto;
    padding: 20px;
}

.product_wrapper{
    display: flex;
}

.product_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(233px, 1fr));
    max-width: 1400px;
}

@media screen and (max-width: 1500px){
    .product_list{
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px){
    .product_list{
        max-width: 900px;
    }
}

@media screen and (max-width: 950px){
    .product_list{
        max-width: 600px;
    }
}

@media screen and (max-width: 620px){
    .product_list{
        max-width: 500px;
    }
}

@media screen and (max-width: 700px){
    .product_list{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        max-width: 420px;
        gap: 5px;
    }

    .product_container{
        margin-top: 20px;
    }
}